In [4]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By
from time import sleep

In [5]:
url = 'https://www.flashscore.com.ng/team/philadelphia-76ers/vwRW2QSh/results/'

In [3]:
driver = webdriver.Chrome(executable_path = r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")
driver.get(url)
ID = 'id'

C:\Users\user\AppData\Local\Temp\ipykernel_10484\1042512180.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

gamed = driver.find_elements(By.CLASS_NAME, 'ui-table__row')
teambase = []

for game in gamed:
    try:
        home_team = game.find_element(By.CLASS_NAME, 'tableCellParticipant__name').text
    except:
        continue
    
    event_item = {
        'home_team': home_team,
    }
    
    teambase.append(event_item)

dt = pd.DataFrame(teambase)

In [8]:
games = driver.find_elements(By.CLASS_NAME, 'event__match--twoLine')
gamesbase = []

counter = 0
for game in games:
    try:
        home_team = game.find_element(By.CLASS_NAME, 'event__participant--home').text
        away_team = game.find_element(By.CLASS_NAME, 'event__participant--away').text    

        first_quarter_home = game.find_element("xpath", './/*[@class="event__part event__part--home event__part--1"]').text
        second_quarter_home = game.find_element("xpath", './/*[@class="event__part event__part--home event__part--2"]').text
        third_quarter_home = game.find_element("xpath", './/*[@class="event__part event__part--home event__part--3"]').text
        fourth_quarter_home = game.find_element("xpath", './/*[@class="event__part event__part--home event__part--4"]').text
        first_quarter_away = game.find_element("xpath", './/*[@class="event__part event__part--away event__part--1"]').text
        second_quarter_away = game.find_element("xpath", './/*[@class="event__part event__part--away event__part--2"]').text
        third_quarter_away = game.find_element("xpath", './/*[@class="event__part event__part--away event__part--3"]').text
        fourth_quarter_away = game.find_element("xpath", './/*[@class="event__part event__part--away event__part--4"]').text

        event_time = game.find_element("xpath", './/*[@class="event__time"]').text
    except:
        continue
    
    event_item = {
        'home_team': home_team,
        'away_team': away_team,
        'first_quarter_home': first_quarter_home,
        'second_quarter_home': second_quarter_home,
        'third_quarter_home': third_quarter_home,
        'fourth_quarter_home': fourth_quarter_home,
        'first_quarter_away': first_quarter_away,
        'second_quarter_away': second_quarter_away,
        'third_quarter_away': third_quarter_away,
        'fourth_quarter_away': fourth_quarter_away,
        'event_time': event_time,
    }
    counter +=1
    gamesbase.append(event_item)
    
    if counter%50 == 0:
        print(f"{counter} out of {len(games)}      {counter/len(games)*100} % completed")

df = pd.DataFrame(gamesbase)

50 out of 800      6.25 % completed
100 out of 800      12.5 % completed
150 out of 800      18.75 % completed
200 out of 800      25.0 % completed
250 out of 800      31.25 % completed
300 out of 800      37.5 % completed
350 out of 800      43.75 % completed
400 out of 800      50.0 % completed
450 out of 800      56.25 % completed
500 out of 800      62.5 % completed
550 out of 800      68.75 % completed
600 out of 800      75.0 % completed
650 out of 800      81.25 % completed
700 out of 800      87.5 % completed
750 out of 800      93.75 % completed
800 out of 800      100.0 % completed

In [9]:
df

,home_team,away_team,first_quarter_home,second_quarter_home,third_quarter_home,fourth_quarter_home,first_quarter_away,second_quarter_away,third_quarter_away,fourth_quarter_away,event_time
0,Philadelphia 76ers,Brooklyn Nets,30,37,26,28,25,33,23,20,15.04. 18:00
1,Brooklyn Nets,Philadelphia 76ers,21,32,39,13,36,25,39,34,09.04. 18:00
2,Atlanta Hawks,Philadelphia 76ers,31,32,27,29,32,21,33,33,08.04. 00:30\nAOT
3,Philadelphia 76ers,Miami Heat,31,15,32,23,41,26,29,33,07.04. 00:30
4,Philadelphia 76ers,Boston Celtics,28,25,19,31,22,24,21,34,05.04. 01:00
...,...,...,...,...,...,...,...,...,...,...,...
795,Philadelphia 76ers,Chicago Bulls,22,29,12,29,22,29,21,20,12.03.2015\nAOT
796,Philadelphia 76ers,Atlanta Hawks,20,27,25,20,31,22,16,15,08.03.2015
797,Philadelphia 76ers,Utah Jazz,24,18,13,28,21,20,23,25,07.03.2015
798,Oklahoma City Thunder,Philadelphia 76ers,37,19,28,26,34,25,31,20,05.03.2015\nAOT
799,Philadelphia 76ers,Toronto Raptors,22,27,27,27,26,29,28,31,03.03.2015

In [10]:
df.to_csv('philadelphia1.csv')

In [ ]:
dt['ratings'] = 8

In [ ]:
rem = 9.5
for i in range(len(dt['home_team'])):
    dt['ratings'][i] = rem
    rem -= 0.5

In [ ]:
dt

In [ ]:
dt.to_csv('euroleague_ratings.csv')